
POSTGRES_DB="postgres"
POSTGRES_USER="db_user"
POSTGRES_PASSWORD="password"

DATABASE_NAME="db_name"
DATABASE_USER="db_user"
DATABASE_PASSWORD="password"
DATABASE_HOST="postgres"
DATABASE_PORT="5432"